*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
}


.top-section {
    text-align: center;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, .85);
    font-size: 1.3rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem;
    background: linear-gradient(140deg, rgb(23, 27, 38), rgb(19, 15, 26));

    & p{
        color: rgba(255, 255, 255, .5);
        font-size: 1rem;
    }
    & .top-button{
        padding: .8rem;
        padding-inline: 1rem;
        border-radius: .4rem;
        border: 2px solid rgba(255, 255, 255, .1);
        background-color: rgba(255, 255, 255, .05);
        color: rgba(255, 255, 255, .8);
        letter-spacing: 1px;
        text-transform: capitalize;
        cursor: pointer;
    }
}

.aside-section{
    padding: 4rem;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .p-div{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 10px;
        /* flex-wrap: wrap; */
        width: 650px;
        /* border: 1px solid red; */
        & span{
            /* border: 1px solid red; */
            /* display: inline; */
            max-width: 300px;

            & p{
                width: 100%;
            }
        }
    }
}

.img-section{
    background-color: rgba(0, 0, 0, .8);
    padding: 3rem;
}
.cards-div{
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    /* border: 1px solid red; */
    max-width: 800px;
    margin: auto;
    flex-wrap: wrap;
}
.card{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border-radius: .5rem;
    width: 15rem;
    background-color: whitesmoke;
}
.img-div{
    width: 100%;    
    height: 8rem;
    /* border: 1px solid red; */

    background-position: center;
    background-size: cover;
}
.img-div-1{
    background-image: url(../src/img-aside-1.jpg);
}
.img-div-2{
    background-image: url(../src/img-aside-2.jpg);
}
.img-div-3{
    background-image: url(../src/img-aside-3.jpg);
}
.card-text-div{
    padding: 1.4rem;
    text-align: center;

    & h3{
        margin-bottom: 1rem;
    }
    & p{
        font-size: .9rem;
    }
}

.bottom-aside-section{
    text-align: center;
    padding: 3rem;
    background-color: whitesmoke;

    & h2{
        margin-bottom: 1rem;
    }
    & p{
        max-width: 40rem;
        margin: auto;
    }
}

.contact-section{
    display: flex;

    & div{
        padding: 2rem;
        text-align: center;
        flex: 1;

        & p{
            max-width: 20rem;
            margin: auto;
        }
        & h3{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }
    & div:nth-child(1){
        background-color: rgb(115, 107, 208);

    }
    & div:nth-child(2){
        background-color: rgba(0, 0, 0, .8);
        color: rgba(255, 255, 255, .6);
        & h3{
            color: rgba(255, 255, 255, .8);
        }
    }
}